nav {
  height: 35px;
  display: flex;
  background-color: white;
  padding: 20px 36px;
  box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.1);
}

.navbar-component img {
  height: 30px;
  margin-top: 20px;
  margin-left: 30px;
}

.main-component {
  padding-left: 118px;
}

section {
  padding: 20px;
}

.hero-section {
  display: flex;
  flex-direction: column;
}

.gallery {
  max-width: 400px;
  align-self: center;
}

.hero-header {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 15px;
  line-height: 15px;
}

.hero-para {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0px;
}

.filter {
  display: inline-block;
}

.card {
  padding: 10px;
  display: inline-block;
}

.card-image {
  height: 280px;
  width: 302px;
  border-radius: 10px;
}

.card-info {
  font-weight: bold;
}

.star {
  height: 20px;
  align-self: center;
  margin-left: 120px;
}

.place-distance {
  margin: 0px;
}

.date {
  margin: 0px;
}

.night-price {
  margin: 0px;
}

.price {
  font-weight: bold;
}

.filter {
  height: 60px;
  width: 60px;
  padding: 20px;
}
.filter-url{
  text-decoration: none;
  color: gray;
}
.filter-url:hover{
  text-decoration: underline;
  color: black;
}

.filter-logo {
  height: 30px;
  width: 30px;
}
.filter-name{
  font-size: 12px;
  font-weight: 500;
  margin-top: 3px;
}