nav {
  height: 30px;
  display: flex;
  background-color: white;
  padding: 30px 120px 30px 120px;
  box-shadow: 0 .1px 0px rgba(0, 0, 0, 10);
  justify-content: space-between;
  margin-bottom: 10px;
}

.nav-list {
  display: flex;
  align-self: center;
  border-radius: 50px;
  padding: 12px 10px 12px 20px;
  box-shadow: 0 3px 7.5px rgba(.5, .5, .5, .2);
}

.nav-list span{
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  color: black;
}

.search{
  margin-left: 8px;
  margin-top: 1px;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

/* .nav-list ul li {
  list-style-type: none;
  display: inline;
  padding: 0px;
} */

.user-profile {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.user-profile a {
  text-decoration: none;
  color: black;
}

.user-profile a:hover {
  padding-top: 2px;
}

.globe {
  width: 20px;
  height: 20px;
  padding: 30px;
  margin-top: 8px;
}

.profile-span {
  border-radius: 20px;
  box-shadow: 0px .3px 2px 0px black;
  padding: 10px 6px 4px 6px;
}

.profile-img {
  border-radius: 20px;
  height: 20px;
  width: 20px;
  justify-content: space-between;
  margin-left: 6px;
  margin-right: 3px;
}

/* .navbar-component img {
  height: 30px;
  margin-top: 20px;
  margin-left: 30px;
} */

.main-component {
  padding-left: 120px;
}

.hero-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.gallery {
  max-width: 400px;
  align-self: center;
}

.hero-header {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 15px;
  line-height: 15px;
}

.hero-para {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0px;
}

.filter-div {
  padding-left: 120px;
  box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.1);
}

.filter {
  padding: 10px 20px 5px 20px;
  display: inline-block;
  height: 60px;
  width: 60px;
}

.filter-url {
  text-decoration: none;
  color: gray;
}

.filter-url:hover {
  text-decoration: underline;
  color: black;
}

.filter-url:active {
  text-decoration: underline;
  color: black;
}

.filter-logo {
  height: 30px;
  width: 30px;
}

.filter-name {
  font-size: 12px;
  font-weight: 500;
  margin-top: 3px;
}

.card {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.card:hover {
  box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 5px;
}

.card-image {
  height: 280px;
  width: 300px;
  border-radius: 10px;
}

.card-info {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.star {
  height: 20px;
}

.place-distance {
  margin: 0px;
  font-weight: 300;
  font-size: 16px;
}

.date {
  margin: 0px;
  font-weight: 300;
  font-size: 14px;
}

.night-price {
  margin: 0px;
}

.price {
  font-weight: 500;
}